*.manlint
*.o
*.orig
*.rej
lib/libswmhack.a
lib/libswmhack.so.*
lib/libswmhack_pic.a
lib/swm_hack.so
spectrwm
tags
*~
osx/spectrwm.c
osx/tree.h
osx/swm_hack.c
osx/swm_hack.so
osx/libswmhack.so.*
osx/version.h
linux/spectrwm.c
linux/swm_hack.c
linux/swm_hack.so
linux/libswmhack.so.*
linux/version.h
